html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  background: $black;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
  color: $white;
  text-align: center;
}
