/* Colours */
$black: #09090F;
$white: #FFFFFF;
$pink: #C61FA4;
$green-light: #00FFA3;

/* Font family*/
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Anonymous Pro', monospace;

/* Font-size */
$text-sm: 14px;
$text-bg: 22px;
